[
  {
    "Effect": "Allow",
    "Action": [
      "sqs:DeleteMessage",
      "sqs:GetQueueUrl",
      "sqs:ReceiveMessage"
    ],
    "Resource": [
      {{#resources}}
        "{{.}}",
      {{/resources}}
    ]
  }
]
