[
  {
    "Effect": "Allow",
    "Action": [
      "secretsmanager:GetSecretValue",
      "secretsmanager:DescribeSecret"
    ],
    "Resource": [
      {{#resources}}
        "{{.}}",
      {{/resources}}
    ]
  }
]
